.main{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-135deg,rgb(109, 109, 211), rgb(76, 139, 202),rgb(45, 185, 178) ,rgb(119, 206, 200), rgb(232, 142, 213));
    background-size: 400%, 400%;
    position: relative;
    animation:  change 45s ease-in-out infinite;
}

.message-chat .body{
    height: 100%;
    width: 100%;
}

/* .message-field{

} */